<html>
	<head>
		<!-- linking a css style sheet -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
		<!-- linking a javascript file -->
		<script type="text/javascript" src="{{ url_for('static', filename='JS/scripts.js') }}"></script>
		<!-- linking an image -->
		<!-- <img src="{{ url_for('static', filename='IMG/my_img.png') }}"> -->
	</head>

 	<body>
    	<p>This is a form</p>

    	<form>
    		<input type='submit'>

    	</form>

 	</body>
</html>