<!DOCTYPE html>
<html>
<head>
	<title>Full Friends</title>
</head>
<body>
	<h1>Friends List</h1>
	{% for friend in friends_list %}
		<p>ID: {{ friend['id'] }}</p>
   		<p>First Name: {{ friend['first_name'] }}</p>
   		<p>Last Name: {{ friend['last_name'] }}</p>
   		<p>Email: {{ friend['email'] }}</p>
   		<form action="/friends/{{ friend['id'] }}/edit">
   			<input type="submit" name="Edit" value="Edit">
   		</form>
   		<form action="/friends/{{ friend['id'] }}/delete">
   			<input type="submit" name="Delete" value="Delete">
   		</form>
   		<hr>
   	{% endfor %}
   	<h2>Add a Friend</h2>
	<form action='/friends' method='POST'>
		<label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
	    <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
	    <label for="email">Email:<input type="text" name="email" id="email"></label>
	    <input type="submit" value="Add">
	</form>
</body>
</html>