<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
	<p>Gold: {{session['gold']}}</p>
	<h1>Choose a building to enter and make some money!</h1>
	<ul id="buttons">
		<li>
			<form action="/process_money" method="post">
		 		<input type="hidden" name="building" value="farm" />
				<input type="submit" value="Farm"/>
			</form>
		</li>
		<li>
			<form action="/process_money" method="post">
		 		<input type="hidden" name="building" value="cave" />
				<input type="submit" value="Cave"/>
			</form>
		</li>
		<li>
			<form action="/process_money" method="post">
		 		<input type="hidden" name="building" value="house" />
				<input type="submit" value="House"/>
			</form>
		</li>
		<li>
			<form action="/process_money" method="post">
		 		<input type="hidden" name="building" value="casino" />
				<input type="submit" value="Casino"/>
			</form>
		</li>
	</ul>
	<p>'{{session["activities"]}}'</p>
</body>
</html>