<!DOCTYPE html>
<html>
	<head>
		<title>Registration Form</title>
	</head>
	<body>
		<h1>Enter Your Information</h1>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<form action='/process' method='post'>
			Email:<input type = 'text' name = "email">
			First Name:<input type = 'text' name = "firstname">
			Last Name: <input type = 'text' name = "lastname">
			Password: <input type = 'password' name = "password">
			Confirm Password: <input type = "password" name = "passwordconfirm">
			<input type="submit" value = "Submit">
		</form>
	</body>
</html>