<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>ADD A NEW COURSE</h2>
	<form action="/add" method="post">
		{% csrf_token %}
		<input type="text" name="name">
		<textarea name="description"></textarea>
		<input type="submit" value="Add">
	</form>
	<h1>Courses</h1>
	<table>
		<tr>
			<th>Course Name</th>
			<th>Description</th>
			<th>Date Added</th>
			<th>Actions</th>
		</tr>
		{% for course in courses %}
		<tr>
			<td>{{course.name}}</td>
			<td>{{course.description}}</td>
			<td>{{course.created_at}}</td>
			<td><a href="destroy/{{course.id}}"><button>Delete</button></a></td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>