<!DOCTYPE html>
<html>
<head>
	<title>Dissappearing Ninja</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/'+style_file) }}">
</head>
<body>
	<img id="blue" src="{{ url_for('static', filename='img/leonardo.jpg') }}" alt="leo">
	<img id="orange" src="{{ url_for('static', filename='img/michelangelo.jpg') }}" alt="michel">
	<img id="red" src="{{ url_for('static', filename='img/raphael.jpg') }}" alt="raph">
	<img id="purple" src="{{ url_for('static', filename='img/donatello.jpg') }}" alt="dona">
	<img id="megan" src="{{ url_for('static', filename='img/notapril.jpg') }}" alt="megan">
</body>
</html>