<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ninja Gold</title>
  <style type="text/css">
  	#box {
  		border: 3px solid green;
  		width: 500px;
  		height: 200px;
  		display: inline-block;
  	}

  </style>
</head>
<body>
 	<h3>Your Gold {{request.session.counter}}</h3>
	 	<form action='/process_gold' method='post'>
	 		{% csrf_token %}
		 	<p>Farm</p>
		 	<p>(earns 10-20 gold)</p>
		 	<input type="hidden" name="building" value="farm" />
	  		<input type="submit" value="Find Gold!"/>
	 	</form>
 	 	<form action='/process_gold' method='post'>
 	 		{% csrf_token %}
		 	<p>Cave</p>
		 	<p>(earns 5-10 gold)</p>
		 	<input type="hidden" name="building" value="cave" />
	  		<input type="submit" value="Find Gold!"/>
	 	</form>
	 	<form action='/process_gold' method='post'>
	 		{% csrf_token %}
		 	<p>House</p>
		 	<p>(earns 2-5 gold)</p>
		 	<input type="hidden" name="building" value="house" />
	  		<input type="submit" value="Find Gold!"/>
	 	</form>
	 	<form action='/process_gold' method='post'>
	 		{% csrf_token %}
		 	<p>Casino</p>
		 	<p>(earns/loses 0-50 gold)</p>
		 	<input type="hidden" name="building" value="casino" />
	  		<input type="submit" value="Find Gold!"/>
	 	</form>
	 	<form action='/sessionClear' method='post'>
	 		{% csrf_token %}
	 		<input type="submit" value="reset"/>
	 	</form>

	 	<div id="box">
	 		{{request.session.giant_string}}
	 	</div>	
</body>
</html>