<!DOCTYPE html>
<html>
<head>
	<title>Ninjas</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ninjas_style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/ninja.js') }}"></script>
</head>
<body>
	<div id="main">
		<img src="{{ url_for('static', filename='img/ninja_slayer.gif') }}">
		<div id="text">
			<h1>NINJA</h1>
			<p>
				NINJA are super-humans who uses various Karate and Jitsu. <br>
				NINJA usually are people in possesion of Ninja Soul from pre-Heian era.
				However there are also Real Ninja; who physically trained to become a NINJA. <br>
				When a NINJA is fatally wounded in duel between NINJA, it is customary for dieng NINJA to read death haiku before exploding to peices.
			</p>
		</div>
	</div>
</body>
</html>