<html>
<head>
	<title></title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<h1>{{message}}</h1>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<form action='/results' method='post' id="survey">
		Your Name: <input type='text' name='name'>
		<select name='location' form='survey'>
			<option value='sj'>San Jose</option>
			<option value='dc'>Washington DC</option>
		</select>
		<select name='lang' form='survey'>
			<option value='p'>Python</option>
			<option value='js'>JavaScript</option>
		</select>
		<input type='text' name='comments'>
		<input type='submit' value='Button'>
	</form>
</body>
</html>