<!DOCTYPE html>
<html>
<head>
	<title>Dissappearing Ninja</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'ninjas/css/' %}{{color}}">
</head>
<body>
	<img id="blue" src="{% static 'ninjas/img/leonardo.jpg' %}" alt="leo">
	<img id="orange" src="{% static 'ninjas/img/michelangelo.jpg' %}" alt="michel">
	<img id="red" src="{% static 'ninjas/img/raphael.jpg' %}" alt="raph">
	<img id="purple" src="{% static 'ninjas/img/donatello.jpg' %}" alt="dona">
	<img id="megan" src="{% static 'ninjas/img/notapril.jpg'%}" alt="megan">
</body>
</html>