<!DOCTYPE html>
<html>
	<head>
		<title>Login and Registration</title>
	</head>
	<body>
		<h1>Register:</h1>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<p>{{message}}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<form action ='/user' method = 'POST'>
				<label for = "first_name">First Name:<input type ="text" name = "first_name" id = "first_name"></label>
				<label for = "last_name">Last Name:<input type ="text" name = "last_name" id = "last_name"></label>
				<label for = "email">Email:<input type ="text" name = "email" id = "email"></label>
				<label for = "password">Password:<input type ="password" name = "password" id = "password"></label>
				<label for = "confirm">Confirm Password:<input type ="password" name = "confirm" id = "confirm"></label>
				<input type = "submit" value="Register">
			</form>
	</body>
</html>