<html>
    <head>
       <title>Dojo Survey</title>
    </head>
    <body>
      <h1>Index Page</h1>
      <h3>Create a User</h3>
      <!-- read on to learn about form actions, we'll talk about the method in a later section -->
      <form action='/result' method='post'>
          Your Name: <input type='text' name='name'>
          <br>
          Dojo Location: 
          <select name='location'>
            <option value="Washington DC">Washington DC</option>
            <option value="Boston">Boston</option>
            <option value="Chicago">Chicago</option>
          </select>
          <br>
          Favorite Language:
           <select name='language'>
            <option value="English">English</option>
            <option value="French">French</option>
            <option value="Russian">Russian</option>
          </select>
          <br>
          Comment (optional)
          <input type='text' name='comment'>
          <br>
          <input type='submit' value='result'>
      </form>
    </body>
</html>