<!DOCTYPE html>
<html>
	<head>
		<title>Login and Registration</title>
	</head>
	<body>
		<h1>Login:</h1>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<p id='red'>{{message}}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<form action ='/loginvalidate' method = 'POST'>
				<label for = "email">Email:<input type ="text" name = "email" id = "email"></label>
				<label for = "password">Password:<input type ="password" name = "password" id = "password"></label>
				<input type = "submit" value="Login">
			</form>
	</body>
</html>